@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  src: url('/fonts/GoogleMaterialIcons.woff2') format('woff2');
  unicode-range: u+e8b8, u+e000, u+f7a5, u+eb8e, u+ead0, u+e872;
}

.icon {
  font-family: 'Material Icons';
  user-select: none;
  font-variation-settings:
    'FILL' 0,
    'GRAD' 0,
    'opsz' 24,
    'wght' 400;
  font-style: normal;
  
  scale: 1.1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.filled {
  font-variation-settings:
    'FILL' 1,
    'GRAD' 0,
    'opsz' 24,
    'wght' 250;
}

.color_animated{
  transition: color 0.2s ease-in-out;
}
