.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.auto_scroller{
    display: inline-block;
    position: absolute;

    transition: transform 1s linear;
}

.container.overflowing{
    border-left: 1px solid rgba(var(--bg-color-5-rgb),0.2);
    border-right: 1px solid rgba(var(--bg-color-5-rgb),0.2);
    justify-content: left;

    .text{
        opacity: 0;
    }
}

.empty_space{
    display: inline-block;
}



